* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif";
}

section {
    padding: 1.5rem 1.5rem;
    text-align: center;
}
/* section-1 home */
#home {
    position: relative;
    background: url("https://cdn.dribbble.com/users/445616/screenshots/1645416/bmw_i8_illu-007.gif") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.colors {
    color: cyan;
    font-weight: bolder;
}

#home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3); /* Dark overlay on the background */
}
/* after create a child ,child of home para */
.para {
    background-color: transparent;
    z-index: 2;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    width: 80%;
}

.para1 + span {
    font-family: "Permanent Marker", cursive;
    display: inline-block;
    padding-bottom: 0.5em;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.spara {
    background-color: transparent;
}

.font-fam {
    font-family: "Permanent Marker", cursive;
}

/* section 2-image slider */
.sec-bg {
    background:url(https://spn-sta.spinny.com/blog/20220228144101/ezgif.com-gif-maker-2022-01-11T132228.590.jpg?compress=true&quality=80&w=1200&dpr=2.6) no-repeat center center/cover;
    /* width: 100%;
    height: 100% */
}   

.overlay-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    padding: 4em;
    text-align: center;
    
}
  
.dropdown-arrow {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
}

.carousel-inner {
    position: relative;
    margin: 0 auto;
    height: 600px;
    box-shadow: -8px 10px 12px rgba(0, 0, 0, 0.5), 5px -3px 20px rgba(0, 0, 0, 0.5); /*1st value is x-axis, 2nd value is y-axis, 3rd value is blur radius, 4th value is spread radius* [-ve left,+ve right,-ve up,+ve down]*/
}

.carousel-item img {
    height: 83vh; /* Ensure images cover the carousel height */
    object-fit: cover;
}

.text-overlay-head {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin: 0.5em;
   
}
.text-overlay-span {
    color: #c60657;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
    font-size: 1.06em;
    text-transform: lowercase;
    margin: 0;
    padding: 0;

}
.text-overlay-para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1.5em;
    font-weight:500;
    line-height: 2.5em;
    font-size: 1.06em;
    text-align: justify;
    padding: 0em 1em 1em 1em;
   
 }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-in {
    animation: fadeIn 2.5s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 3s ease-in-out forwards;
    }


/* section 3 models */


.model-sec {
    background: url("https://i.pinimg.com/originals/38/1f/ec/381fec86b32b2ca657af07282914c301.png") no-repeat center center/cover;
    height: 100%;
    position: relative;
    z-index: 0;
}

.model-sec::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);  
}
.model-head{
    position: relative;
}
.model ,.model-head {
    z-index: 2;
    color: orange;
    
}

.model-img {
    width: 300px;
    height: 150px;
    object-fit: contain;
    margin-top: 2em;
    animation: borderRun 2s infinite;
}
.model-img2 {
    width: 300px;
    height: 150px;
    object-fit: contain;
    margin-top: 2.8em;
    animation: borderRun 2s infinite;
}
.model-img3 {
    width: 250px;
    height: 150px;
    object-fit: contain;
    margin-top: 2.5em;
    animation: borderRun 2s infinite;
}

@keyframes borderRun {
    0% {
        filter: drop-shadow(5px 2px 2px orange);
    }
    25% {
        filter: drop-shadow(-5px 2px 2px orange);
    }
    50% {
        filter: drop-shadow(-5px -2px 2px orange);
    }
    75% {
        filter: drop-shadow(5px -2px 2px orange);
    }
    100% {
        filter: drop-shadow(5px 2px 2px orange);
    }
}

.model-para{
    font-size: 1.2em;
    opacity: 2;
}

.model-inner-para{
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
    border-right:2px solid orange ;
    border-left:2px solid orange ;
}
.model-span{
    color:orange;
    font-size: 1.2em;
    font-weight: 600;
}

.model-btn{
    /* border: 2px solid orange; */
    text-decoration: none;
    /* padding: 0.5em;
    background-color: orange;
    color:#000;
    font-weight: 600; */
    color: orange;
}
@media (max-width: 1100px) {
    #home {
        height: 100%;
    }

    .para {
        font-size: 0.7rem;
    }

    .para1 + span {
        padding-bottom: 0;
    }
    .carousel-item img {
       height: 100%; /* Ensure images cover the carousel height */
        object-fit: contain;
    }
    .carousel-inner {
        position: relative;
        margin: 0 auto;
        height: 100%;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3); 
    }
    .overlay-text {
        padding: 1em;
        width: 100%;
        height: 100%;
        font-size: 0.9em;
        overflow: hidden;
    }
    
    .text-overlay-head {
        font-size: 1.2em;
    }
    .model-para{
        font-size: 0.8em;
    }
    .marg{
        margin-top: 1.8em;
    }
    .model-img3 {
        width: 300px;
        height: 150px;
        object-fit: contain;
        animation: borderRun 2s infinite;
    }
    .model-img {
        width: 300px;
        height: 150px;
        object-fit: contain;
        /* margin-bottom: 3.4em; */
        animation: borderRun 2s infinite;
    }
    .model-img2 {
        width: 300px;
        height: 150px;
        object-fit: contain;
        margin-top: 3.35em;
        animation: borderRun 2s infinite;
    }
    .model-inner-para{
        color: #fff;
        font-size: 0.6em;
        line-height: 1.5em;
        font-weight: 300;
        border: 0;
    }
    .model-span{
        color:orange;
        font-size: 1.2em;
        font-weight: 600;
    }
  
}
